.downup{
    animation: drop1 0.3s ease-in-out;
}
@keyframes drop1 {
    0%{
        transform: translateY(-10px);
        opacity: 0.5;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;

    }
}

.todown {
    animation: down1 0.6s linear;

}

@keyframes down1 {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);

    }

}

.rote{
    animation: rots 0.3s ease-in-out;
  }

  @keyframes rots {
    from{
      transform: rotate(100deg);
      opacity: 0.5;
    }
    to{
      transform: rotate(0deg);
      opacity: 1;
    }
  }
  .rote2{
    animation: rots2 0.3s ease-in-out;
  }

  @keyframes rots2 {
    from{
      transform: rotate(-100deg);
      opacity: 0.5;
    }
    to{
      transform: rotate(0deg);
      opacity: 1;
    }
  }